<h3 id="course-info">Course</h3>

<table class="table" style="max-width:900px;margin-left:auto;margin-right:auto">
  <tr>
    <td style="width:30%">JOURN 8006: Quant</td>
    <td style="width:20%;text-align:center;">
      <a href="https://quant.mikewk.com" title="site"><i class="fas fa-link"></i></a> 
      <a href="https://github.com/mkearney/quant" title="Github"><i class="fab fa-github"></i></a> 
      <a href="https://journalism.missouri.edu"><i class="fas fa-university"></i></a>
    </td>
    <td style="width:25%;text-align:center;">Tue 3:30 - 6:00pm</td>
    <td style="width:25%;text-align:right;">Lee Hills Hall 214</td>
  </tr>
</table>

<h3 id="instructor">Instructor</h3>

<table class="table" style="max-width:900px;margin-left:auto;margin-right:auto">
  <tr>
    <td style="width:30%">Dr. Michael W. Kearney</td>
    <td style="width:20%;text-align:center;">
      <a href="mailto:kearneymw@missouri.edu" title="email"><i class="fas fa-envelope"></i></a>
      <a href="https://mikewk.com" title="homepage"><i class="fas fa-home"></i></a>
      <a href="https://github.com/mkearney" title="Github"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com/kearneymw" title="Twitter"><i class="fab fa-twitter"></i></a>
    </td>
    <td style="width:25%;text-align:center;">Thu 11am - 2:00pm</td>
    <td style="width:25%;text-align:right;">Lee Hills Hall 314</td>
  </tr>
</table>

<h3 id="texts">Texts</h3>

<table class="table" style="max-width:900px;margin-left:auto;margin-right:auto">
  <tr>
    <td style="width:30%">R for Data Science</td>
    <td style="width:20%;text-align:center;">
      <a href="http://r4ds.had.co.nz/" title="link"><i class="fas fa-link"></i></a>
      <a href="https://github.com/hadley/r4ds" title="Github"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com/R4DScommunity" title="Twitter"><i class="fab fa-twitter"></i></a>
    </td>
    <td style="width:25%;text-align:center;">O'Reilly Media</td>
    <td style="width:25%;text-align:right;">Wickham & Grolemund</td>
  </tr>
  <tr>
    <td style="width:30%">Applied Regression Analysis & Generalized Linear Models (3rd ed.)</td>
    <td style="width:20%;text-align:center;">
      <a href="https://socialsciences.mcmaster.ca/jfox/Books/Applied-Regression-3E/index.html" title="link"><i class="fas fa-link"></i></a>
      <a href="https://us.sagepub.com/en-us/nam/applied-regression-analysis-and-generalized-linear-models/book237254" title="Github"><i class="fas fa-store"></i></a>
    </td>
    <td style="width:25%;text-align:center;">CRC Press</td>
    <td style="width:25%;text-align:right;">Hadley Wickham</td>
  </tr>
<!--  <tr>
    <td style="width:30%">Advanced R (2nd ed.)</td>
    <td style="width:20%;text-align:center;">
      <a href="https://adv-r.hadley.nz/" title="link"><i class="fas fa-link"></i></a>
      <a href="https://github.com/hadley/adv-r" title="Github"><i class="fab fa-github"></i></a>
    </td>
    <td style="width:25%;text-align:center;">SAGE Publications</td>
    <td style="width:25%;text-align:right;">John Fox</td>
  </tr> -->
</table>

<h3 id="course-description">Course description</h3>

<p>This class is designed to introduce graduate students to the most common scientific research methods currently used in journalism and mass communication. It is intended to be an introduction to the systematic study of mass communication. Hence, the emphasis of this course is on empirical studies and will examine research that journalists often use and write about. It will also examine research conducted by journalism and mass communication scholars. This course serves as baseline preparation for your continuing work in the graduate program by providing you with a rigorous intellectual experience in how studies are conducted, how to assess their validity and reliability, issues regarding appropriate use of numbers and statistics, and their relationship to the parts of the world they attempt to explain.</p>

<h3>Grades</h3>

<table class="table" style="max-width:900px;margin-left:auto;margin-right:auto">

<tr>
<td style="width:15%;text-align:right">25%</td>
<td>Homework Assignments</td>
</tr>

<tr>
<td style="width:15%;text-align:right">25%</td>
<td>Midterm Exam</td>
</tr>

<tr>
<td style="width:15%;text-align:right">25%</td>
<td>Final Presentation</td>
</tr>

<tr>
<td style="width:15%;text-align:right">25%</td>
<td>Final Paper</td>
</tr>


</table>