<h3 id="course-info">Course</h3>

<table class="table" style="max-width:900px;margin-left:auto;margin-right:auto">
  <tr>
    <td style="width:30%">JOURN 8006: Quant</td>
    <td style="width:20%;text-align:center;">
      <a href="https://quant.mikewk.com" title="site"><i class="fas fa-link"></i></a> 
      <a href="https://github.com/mkearney/quant" title="Github"><i class="fab fa-github"></i></a> 
      <a href="https://journalism.missouri.edu"><i class="fas fa-university"></i></a>
    </td>
    <td style="width:25%;text-align:center;">Tue 3:30 - 6:00pm</td>
    <td style="width:25%;text-align:right;">Lee Hills Hall 303</td>
  </tr>
</table>

<h3 id="instructor">Instructor</h3>

<table class="table" style="max-width:900px;margin-left:auto;margin-right:auto">
  <tr>
    <td style="width:30%">Dr. Michael W. Kearney</td>
    <td style="width:20%;text-align:center;">
      <a href="mailto:kearneymw@missouri.edu" title="email"><i class="fas fa-envelope"></i></a>
      <a href="https://mikewk.com" title="homepage"><i class="fas fa-home"></i></a>
      <a href="https://github.com/mkearney" title="Github"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com/kearneymw" title="Twitter"><i class="fab fa-twitter"></i></a>
    </td>
    <td style="width:25%;text-align:center;">Tu 10am - 1:00pm</td>
    <td style="width:25%;text-align:right;">Lee Hills Hall 314</td>
  </tr>
</table>

<h3>Grades</h3>

<table class="table" style="max-width:900px;margin-left:auto;margin-right:auto">

<tr>
<td style="width:15%;text-align:right">25%</td>
<td>Homework Assignments</td>
</tr>

<tr>
<td style="width:15%;text-align:right">25%</td>
<td>Midterm Exam</td>
</tr>

<tr>
<td style="width:15%;text-align:right">25%</td>
<td>Final Presentation</td>
</tr>

<tr>
<td style="width:15%;text-align:right">25%</td>
<td>Final Paper</td>
</tr>


</table>



<table class="table" style="max-width:900px;margin-left:auto;margin-right:auto">
<thead>
<tr>
<th>Percent</th>
<th>Grade</th>
</tr>
</thead>

<tbody>
<tr>
<td>93.4 - 100</td>
<td>A</td>
</tr>

<tr>
<td>90.0 - 93.3</td>
<td>A-</td>
</tr>

<tr>
<td>86.7 - 89.9</td>
<td>B+</td>
</tr>

<tr>
<td>83.4 - 86.6</td>
<td>B</td>
</tr>

<tr>
<td>80.0 - 83.3</td>
<td>B-</td>
</tr>

<tr>
<td>76.7 - 79.9</td>
<td>C+</td>
</tr>

<tr>
<td>73.4 - 76.6</td>
<td>C</td>
</tr>

<tr>
<td>70.0 - 73.3</td>
<td>C-</td>
</tr>

<tr>
<td>00.0 - 69.9</td>
<td>F</td>
</tr>
</tbody>
</table>